/* https://andrejgajdos.com/custom-select-dropdown/ */

.wrapper {
  --hover-background-color: #b2b2b2;
  --hover-text-color: #b2b2b2;
  
  --selected-background-color: #305c91;
  --selected-text-color: #ffffff;
  
  --border-color: grey;
  --border-width: 1px;

  position: relative;
  user-select: none;
  width: 200px;
  font-size: 1rem;
}

.container {
  position: relative;
  border-width: 0 var(--border-width) 0 var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
}

.label {
  position: relative;
  padding: 0 1em;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  border-width: var(--border-width) 0 var(--border-width) 0;
  border-style: solid;
  border-color: var(--border-color);
}

.options {
  position: absolute;
  display: block;
  top: 100%;

  left: calc(-1 * var(--border-width));
  right: calc(-1 * var(--border-width));

  border-width: var(--border-width);
  border-style: solid;
  border-top: 0;
  border-color: var(--border-color);

  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.options.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.option {
  position: relative;
  display: block;
  padding: 0 1em;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  transition: all 0.5s;
}

.option:hover {
  background-color: var(--hover-background-color);
}

.option.selected {
  color: var(--selected-text-color);
  background-color: var(--selected-background-color);
}
