.button {
    background: grey;
    color: white;
    box-shadow: none;
    border: none;
    padding: 5px 10px;
    position: relative;
}

.button:hover .tooltip {
    opacity: 1.0;
}

.tooltip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 5px;
    background: lightgrey;
    padding: 10px;
    border-radius: 5px;
    color: black;
    opacity: 0.0;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}